/*
sets the container class as the grid
defines the # of rows and columns
arranges the grid layout with characters
*/

/*Validated*/


/*details entire body section*/
body {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    color: #1F2A37;
    background-color: whitesmoke; /*previously: #B6C6E1*/
    height: auto;
    max-width: 100%;
    font-size: 19px;
    font-family: sans-serif;
}


/*grid setup*/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1"
        "n n n n n n n n n n n n"
        "c c c c c c m1 m1 m1 m2 m2 m2"
        "f f f f f f f f f f f f";
}



/*assigns the grid characters to its class*/

header {
    grid-area: h;
    background-color: lightgray;
    text-decoration: none;
    text-decoration-color: floralwhite;
    height: 30%;
}

/*nav bar actual bar*/
.horizontalNavigation {
    grid-area: n;
    text-decoration: none;
    background-color: #01367E;    
    font-size: 18px;
}

/*nav bar text*/
li a {
    display: grid;
    text-align: left;
    color: floralwhite;
    padding: 10px 30px;
    border-right: 2px solid floralwhite;
    text-decoration: none;
    
}


li a:hover{
    background-color: lightblue;
}

/*nav list categories*/
ul {
    display: grid;
    list-style: none; /*remove bullet/numbers from list*/
    grid-template-columns: repeat(5, 1fr);
    
}

/*Index Sections*/

.list {
    margin-left: 1px;
}

.menu1 {
    grid-area: m1;
    margin-right: 40px;
}

.menu2 {
    grid-area: m2;
    margin-right: 40px;
}

.content {
    grid-area: c;
    margin-left: 5px; /*adjust left side margin*/
    margin-right: 10px;
}

.links {
    grid-area: f;
    margin-left: 5px; /*adjust left side margin*/
}

img { /*auto resize images when when window is resized*/
    height: auto;
    max-width: 100%;
}

/*color schemes*/

h1 {
    grid-area: h1;
    color: floralwhite;
    background-color: #01367E;
    letter-spacing: 0.93em;
    height: 20px;
    font-size: 20px;
}

h2 {
    color: floralwhite;
    background-color: #01367E;
    height: auto;
    font-size: 25px;
}

h3 {
    color: floralwhite;
    background-color: #01367E;
    height: 30px;
    font-size: 25px;
}



/*Contact Page Style*/
/*creates a layout for the contact page under the container format*/
.contact-page {

    grid-template-areas: 
        "h h h h h h h h h h h h"
        "h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1"
        "n n n n n n n n n n n n"
        "fo fo fo fo fo fo q1 q1 q1 q2 q2 q2"
        "f f f f f f f f f f f f";
    
    
}



/*Form Styling*/
/*Form Page - Left Column*/

.contact {
    grid-area: fo;
    margin-left: 5px; /*adjust left side margin*/
    margin-right: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=reset] {
    width: 100%;
    background: #01367E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: lightblue;
}

input[type=submit] {
    width: 100%;
    background: #01367E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightblue;
}


/*Contact Page - Right Column*/

.FAQs1 {
    grid-area: q1;
    margin-right: 40px;
}

.FAQs2 {
    grid-area: q2;
    margin-right: 40px;
}

ol li {
    display: block;
    list-style-type: none;
    margin-top: 20px;
}



/*Tools Page Style*/
.tools-page {

    
 grid-template-areas: 
        "h h h h h h h h h h h h"
        "h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1"
        "n n n n n n n n n n n n"
        "g g g g g g g g g g g g"
        "rt rt rt rt rt rt rt2 rt2 rt2 rt2 rt2 rt2"
        "f f f f f f f f f f f f"; 

 
}

/*Image Gallery Styling*/
/*Tools Page - Left Column*/

.gallery { /*entire gallery*/
    display: flex;
    grid-template-columns: auto;
   grid-area: g;
    margin: 60px;
    width: 90%;
    height: auto;

}



.pic:hover {
    border: 3px solid wheat;
}

.gallery pic { /*actual pic*/
    width: 100%;
    height: auto;
    
}

.pic { /*card/box*/
        border: 3px solid #ccc;
        flex: 100%;
        padding: 13px;

}

.card-footer {
    border-top: .5px solid lightgray;
    text-align: center;

}


.desc {
    padding: 15px;
    text-align: center;
} 


/*Flexbox Image Styling*/

.gallery > * {
    box-sizing: border-box;
    margin: 1px;
}





/*Tools Page - Paragraphs*/


.rectools {
    margin: auto;
    grid-area: rt;

}



.rectools2 {
    margin: auto;
    grid-area: rt2;
}


/*Technique Page Style*/

.techniques-class {


}


.maintenance-class {
    margin-left: 5px;
}


.links {
  overflow: hidden;
  background-color: lightgray;
  bottom: 0;
  width: 100%;
}

.links a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.links a:hover {
  background: lightblue;
  color: white;
}


