@charset "utf-8";

/*Oscar Perez, July 1st*/



/*color schemes*/

html {
    background-color: hsl(1230, 60%, 80%);
}
body {
    color: rgb(91, 91, 91);
    background-color: floralwhite;
}

h1{
    color: white;
    background-color: rgb(12, 180, 200);
}

h2{
    color: white;
    background-color: rgb(12, 180, 200);
}

footer {
    color: white;
    background-color: rgb(12, 180, 200);    
}



/*fonts, size, and spacing*/

h1{
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: 0.5em;
}

h2{
    font-family: Verdana, Geneva, sans-serif;
}

footer{
    font-family: Verdana, Geneva, sans-serif;
}



/*nav height*/
nav > ul {
    line-height: 1.5em;
    padding-left: 40px;
}
